<div class="modal fade fade bs-example-modal-lg in" id="myModal4" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Adicionar evento (2016-11-09)</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-5">
                        <div class="panel panel-default" id="accordion">
                            <div class="panel-heading">
                                <span id="nombre_pi">Plan implementación</span>

                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            Periodo
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu" id="ulperiodo">
                                                                                            <li>
                                                    <a href="10" id="divperiodo_10">Q1                                                    </a>
                                                    <input name="hidden_periodo_0" id="hidden_periodo_0" value="10" type="hidden">
                                                    <input name="nombre_periodo_10" id="nombre_periodo_10" value="Q1" type="hidden">
                                                </li>
                                                                                            <input name="num_periodo" id="num_periodo" value="1" type="hidden">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Aqui -->
                            <!-- Ejemplo -->

                            
                <div class="panel-body" id="plan_implementacion_10" style="display: none">
                    <div class="list-group">
                                    <div class="panel panel-default">
                <div class="panel-heading ">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_10_16">
                            Fortalecer la capacidad del Gobierno Nacional, los Gobiernos Locales, y el Ministerio Público para la prevención, asistencia, atención  y reparación a víctimas de desplazamiento forzado                        </a>
                    </h4>
                </div>
                <div id="collapse_10_16" class="panel-collapse collapse">
                    <div class="panel-body">


                                                <div class="list-group-item list-group-item-success"><b>1.1. Formación</b></div>
                     


                    <div class="list-group-item">
                        <input value="31" type="checkbox"><b>&nbsp;1.1.1.</b> Formación a funcionarios publicos con participación de los municipios de Popayán, Toribio y Caloto. Habilidades gerenciales, con THT.                    </div>


                                            <div class="list-group-item list-group-item-success"><b>1.2. Planeación</b></div>
                     


                    <div class="list-group-item">
                        <input value="32" type="checkbox"><b>&nbsp;1.2.1.</b> Formulación del plan financiero de los PAT de los municipios de Popayán, Caloto y Toribío. Año 2017, 5 Medidas prioritarias                    </div>


                     


                    <div class="list-group-item">
                        <input value="33" type="checkbox"><b>&nbsp;1.2.2.</b>  Aprobación del presupuesto municipal con recursos para las cinco medidas prioritarias. Municipio de Popayán                    </div>


                     


                    <div class="list-group-item">
                        <input value="34" type="checkbox"><b>&nbsp;1.2.3.</b> Aprobación del presupuesto municipal con recursos para las cinco medidas prioritarias. Municipio de Caloto                    </div>


                     


                    <div class="list-group-item">
                        <input value="35" type="checkbox"><b>&nbsp;1.2.4.</b> Aprobación del presupuesto municipal con recursos para las cinco medidas prioritarias. Municipio de Toribio                    </div>


                     


                    <div class="list-group-item">
                        <input value="36" type="checkbox"><b>&nbsp;1.2.5.</b> Ajuste y Aprobación al PAT 2016 - 2019 por parte del CMJT  de Toribio.                    </div>


                     


                    <div class="list-group-item">
                        <input value="37" type="checkbox"><b>&nbsp;1.2.6.</b> Elaboración Tablero de Control. PAT 2016 -2019, municipio de Toribio.                    </div>


                     


                    <div class="list-group-item">
                        <input value="38" type="checkbox"><b>&nbsp;1.2.7.</b> Aprobación de los ajustes al PAT 2016 - 2019 por parte del CMJT  de Caloto.                    </div>


                     


                    <div class="list-group-item">
                        <input value="39" type="checkbox"><b>&nbsp;1.2.8.</b> . Elaboración Tablero de Control. PAT 2016 -2019, municipio de Caloto.                    </div>


                     


                    <div class="list-group-item">
                        <input value="40" type="checkbox"><b>&nbsp;1.2.9.</b> Diligenciamiento Tablero PAT 2017 Gobernación, con recursos para aplicar mecanismo de corresponsabilidad.                    </div>


                     


                    <div class="list-group-item">
                        <input value="44" type="checkbox"><b>&nbsp;1.2.10.</b> Seguimiento al Plan de Acción Territorial de Popayán en subcomites técnicos y el CTJT.                     </div>


                                            <div class="list-group-item list-group-item-success"><b>1.3. Coordinación</b></div>
                     


                    <div class="list-group-item">
                        <input value="45" type="checkbox"><b>&nbsp;1.3.1.</b> Jornadas de trabajo para garantizar las réplicas de certificación 2015, con las administracion municipal de Popayán.                    </div>


                     


                    <div class="list-group-item">
                        <input value="46" type="checkbox"><b>&nbsp;1.3.2.</b> Jornadas de trabajo para garantizar las réplicas de certificación 2015, con las administracion municipal de Caloto                     </div>


                     


                    <div class="list-group-item">
                        <input value="47" type="checkbox"><b>&nbsp;1.3.3.</b> Jornadas de trabajo para garantizar las réplicas de certificación 2015, con las administracion municipal de Toribio                    </div>


                     


                    <div class="list-group-item">
                        <input value="48" type="checkbox"><b>&nbsp;1.3.4.</b> Presentación balance de mecanismo de subsidiaridad y subsistencia minima por parte de la Alcaldia de Popayán, a Uariv, Gobernación y MMP                    </div>


                     


                    <div class="list-group-item">
                        <input value="49" type="checkbox"><b>&nbsp;1.3.5.</b>  Rendición de cuentas de IRD a la Administración Municipal de Popayán.                    </div>


                     


                    <div class="list-group-item">
                        <input value="50" type="checkbox"><b>&nbsp;1.3.6.</b> Presentación del proyecto Cerrando Brechas 2016 - 2017, a los alcaldes y personeros de Caloto y Toribio                    </div>


                     


                    <div class="list-group-item">
                        <input value="51" type="checkbox"><b>&nbsp;1.3.7.</b> Firma de los acuerdos de entendimientos entre IRD y los alcaldes y personeros de los municipios de Popayán, Caloto y Toribio.                     </div>


                                            <div class="list-group-item list-group-item-success"><b>1.4. Financiación</b></div>
                     


                    <div class="list-group-item">
                        <input value="52" type="checkbox"><b>&nbsp;1.4.1.</b> Comité Técnico del convenio del proyecto "Fortalecimiento de la capacidad municipal para la recuperación emocional y la reparación colectiva a las victimas de la violencia en el municipio de Popayán".                    </div>


                     


                    <div class="list-group-item">
                        <input value="53" type="checkbox"><b>&nbsp;1.4.2.</b>  Identificación de las necesidades del municipio íde Toribio frente a la implementación del proyecto psicosocial.                     </div>


                                            <div class="list-group-item list-group-item-success"><b>1.5. Atención</b></div>
                     


                    <div class="list-group-item">
                        <input value="54" type="checkbox"><b>&nbsp;1.5.1.</b> Formalización de los acuerdos para la presencia institucional en el CRAV en el marco de un CTJT de Popayán.                    </div>


                                            </div>
                    </div>
                </div>
                        <div class="panel panel-default">
                <div class="panel-heading ">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_10_17">
                            Satisfacer las necesidades  básicas de  las víctimas de desplazamiento forzado                        </a>
                    </h4>
                </div>
                <div id="collapse_10_17" class="panel-collapse collapse">
                    <div class="panel-body">


                                                <div class="list-group-item list-group-item-success"><b>2.1. Atención Humanitaria Inmediata (Popayán y Florencia)</b></div>
                     


                    <div class="list-group-item">
                        <input value="55" type="checkbox"><b>&nbsp;2.1.1.</b>  Primera y Segunda Entrega de raciones y complementos en el municipio de Popayán.                    </div>


                                            <div class="list-group-item list-group-item-success"><b>2.2. Ruta Integral de Asistencia</b></div>
                     


                    <div class="list-group-item">
                        <input value="56" type="checkbox"><b>&nbsp;2.2.1.</b> Elaboración y remisión de ordenes de matrícula a menores que no estan vinculados al sistema educativo a los  colegios identificados  en el municipio de Popayán.                    </div>


                     


                    <div class="list-group-item">
                        <input value="57" type="checkbox"><b>&nbsp;2.2.2.</b> Seguimiento interno a jóvenes en edad escolar.                    </div>


                     


                    <div class="list-group-item">
                        <input value="58" type="checkbox"><b>&nbsp;2.2.3.</b> Adelantar jornada de notificacióna incluidos por UARIV a atendidos por IRD.                     </div>


                     


                    <div class="list-group-item">
                        <input value="59" type="checkbox"><b>&nbsp;2.2.4.</b> Elaboración de fichas de caracterización a familias incluidas y atendidas por IRD                    </div>


                     


                    <div class="list-group-item">
                        <input value="60" type="checkbox"><b>&nbsp;2.2.5.</b> Seguimiento a Salud. Aplicación reglas de portabilidad.                    </div>


                                            </div>
                    </div>
                </div>
                        <div class="panel panel-default">
                <div class="panel-heading ">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_10_18">
                            Fortalecer  las capacidades de las Mesas de Participación Municipales para su participación efectiva                        </a>
                    </h4>
                </div>
                <div id="collapse_10_18" class="panel-collapse collapse">
                    <div class="panel-body">


                                                <div class="list-group-item list-group-item-success"><b>3.1. Plan de Trabajo</b></div>
                     


                    <div class="list-group-item">
                        <input value="61" type="checkbox"><b>&nbsp;3.1.1.</b> Seguimiento a la ejecución del Plan de Trabajo  en la mesa de Participación de Popayán.                    </div>


                     


                    <div class="list-group-item">
                        <input value="62" type="checkbox"><b>&nbsp;3.1.2.</b> Rendición de cuentas de la MMPV que permita  a la comunidad en general conocer los avances logrados Popayán.                    </div>


                     


                    <div class="list-group-item">
                        <input value="63" type="checkbox"><b>&nbsp;3.1.3.</b> Actividades de autocuidado para los integrantes de la MMP Popayán.                    </div>


                     


                    <div class="list-group-item">
                        <input value="64" type="checkbox"><b>&nbsp;3.1.4.</b> Jornada interinstitucional de la MMPV de Popayán con enfasís en tramites de libreta militar.                     </div>


                     


                    <div class="list-group-item">
                        <input value="65" type="checkbox"><b>&nbsp;3.1.5.</b> Capacitación a miembros de la MMP de Popayán en PAARI, Ficha de Caracterización, Tablero PAT, y SIGO.                     </div>


                     


                    <div class="list-group-item">
                        <input value="66" type="checkbox"><b>&nbsp;3.1.6.</b> Revisión y ajuste al Plan de Trabajo de la MMP de Toribio.                    </div>


                     


                    <div class="list-group-item">
                        <input value="67" type="checkbox"><b>&nbsp;3.1.7.</b> Revisión y ajuste al Plan de Trabajo de la MMP de Caloto.                    </div>


                     


                    <div class="list-group-item">
                        <input value="68" type="checkbox"><b>&nbsp;3.1.8.</b> Identificación de necesidades de apoyo proyecto de participación de la MMP de Caloto                    </div>


                                            <div class="list-group-item list-group-item-success"><b>3.2. Participación en Política Pública de Atención y Reparación</b></div>
                     


                    <div class="list-group-item">
                        <input value="69" type="checkbox"><b>&nbsp;3.2.1.</b> Presentacion a la MMP de Popayán el seguimiento al PAT.
                    </div>


                                            <div class="list-group-item list-group-item-success"><b>3.3. Organización Interna</b></div>
                     


                    <div class="list-group-item">
                        <input value="70" type="checkbox"><b>&nbsp;3.3.1.</b>  Presentación del resultado del Indice de Estado Organizacional, a los integrantes de la MMP de Popayán
                    </div>


                     


                    <div class="list-group-item">
                        <input value="71" type="checkbox"><b>&nbsp;3.3.2.</b> Seguimiento a las dimensiones del IEO en las sesiones de la MMPV de Popayán y  en otras reuniones.
                    </div>


                     


                    <div class="list-group-item">
                        <input value="72" type="checkbox"><b>&nbsp;3.3.3.</b>  Aplicación del IEO a la MMP de Toribio.
                    </div>


                     


                    <div class="list-group-item">
                        <input value="73" type="checkbox"><b>&nbsp;3.3.4.</b> Aplicación del IEO a la MMP de Caloto.
                    </div>


                     


                    <div class="list-group-item">
                        <input value="74" type="checkbox"><b>&nbsp;3.3.5.</b> Preparación de la elección de la MMP de Popayán.                    </div>


                                            </div>
                    </div>
                </div>
                        <div class="panel panel-default">
                <div class="panel-heading ">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_10_19">
                            Promover la recuperación emocional y la rehabilitación comunitaria de las víctimas del conflicto armado, incluida la violencia sexual                        </a>
                    </h4>
                </div>
                <div id="collapse_10_19" class="panel-collapse collapse">
                    <div class="panel-body">


                                                <div class="list-group-item list-group-item-success"><b>4.1. Atención Psicosocial en la Emergencia</b></div>
                     


                    <div class="list-group-item">
                        <input value="75" type="checkbox"><b>&nbsp;4.1.1.</b>  Encuentros grupales de acompañamiento psicosocial en el marco de la primera entrega.
                    </div>


                     


                    <div class="list-group-item">
                        <input value="76" type="checkbox"><b>&nbsp;4.1.2.</b>  Encuentros grupales de acompañamiento psicosocial en el marco de la segunda entrega.
                    </div>


                     


                    <div class="list-group-item">
                        <input value="77" type="checkbox"><b>&nbsp;4.1.3.</b> Encuentro grupal de acompañamiento psicosocial en el marco de la notificacion a incluidos por UARIV a declarantes atendidos por IRD.
                    </div>


                                            <div class="list-group-item list-group-item-success"><b>4.2. Grupos de Apoyo Mutuo.</b></div>
                     


                    <div class="list-group-item">
                        <input value="78" type="checkbox"><b>&nbsp;4.2.1.</b> Formación a cuidadores de Toribio y Caloto.
                    </div>


                     


                    <div class="list-group-item">
                        <input value="79" type="checkbox"><b>&nbsp;4.2.2.</b>  Acompañamiento a la implementación al proceso de abrazos en el municipio de Toribío.
                    </div>


                     


                    <div class="list-group-item">
                        <input value="80" type="checkbox"><b>&nbsp;4.2.3.</b>  Acompañamiento a la implementación al proceso de abrazoscon las OVDs Medidas Cautelares y Nuevo Renacer en el municipio de Caloto. Abrazos 1, 2, 3, 4, 5, 6, 7 y 8
                    </div>


                     


                    <div class="list-group-item">
                        <input value="81" type="checkbox"><b>&nbsp;4.2.4.</b>  Acompañamiento a la implementación al proceso de abracitos a niños y niñas de la comunidad Los Chorros en el municipio de Caloto. Abracitos 1, 2 ,3, 4 ,5 y 6
                    </div>


                     


                    <div class="list-group-item">
                        <input value="82" type="checkbox"><b>&nbsp;4.2.5.</b> Acompañamiento a la implementación al proceso de abrazos con la organización MOVICE en el municipio de Popayán. Abrazos 1, 2, 3, 4, 5 y 6.
                    </div>


                                            <div class="list-group-item list-group-item-success"><b>4.3. Actividades para la Rehabilitación Comunitaria</b></div>
                     


                    <div class="list-group-item">
                        <input value="83" type="checkbox"><b>&nbsp;4.3.1.</b> Adecuación del salón comunal de la vereda la Rejoya en el marco del sujeto colectivo.
                    </div>


                     


                    <div class="list-group-item">
                        <input value="84" type="checkbox"><b>&nbsp;4.3.2.</b>  Implementación de actividades de Rehabilitación Comunitaria en el sujeto colectivo de la Rejoya en el marco del proyecto "Fortalecimiento de la capacidad municipal para la recuperación emocional y la reparación colectiva a las victimas de la violencia en el municipio de Popayán".. 
                    </div>


                     


                    <div class="list-group-item">
                        <input value="85" type="checkbox"><b>&nbsp;4.3.3.</b>  Implementación de actividades de Rehabilitación Comunitaria en el casco urbano del municipio de Popayán en el marco del proyecto "Fortalecimiento de la capacidad municipal para la recuperación emocional y la reparación colectiva a las victimas de la violencia en el municipio de Popayán".
                    </div>


                     


                    <div class="list-group-item">
                        <input value="86" type="checkbox"><b>&nbsp;4.3.4.</b>  Implementación de actividades de Rehabilitación Comunitaria en el sujeto colectivo de Toribio, en el marco del PIRC concertado.
                    </div>


                     


                    <div class="list-group-item">
                        <input value="87" type="checkbox"><b>&nbsp;4.3.5.</b> Seguimiento a las actividades del sujeto colectivo de la Rejoya. 
                    </div>


                                            <div class="list-group-item list-group-item-success"><b>4.4.  Identificación, remisión y seguimiento</b></div>
                     


                    <div class="list-group-item">
                        <input value="88" type="checkbox"><b>&nbsp;4.4.1.</b>  Identificación, Remisión y seguimiento de casos de Violencia Sexual en el marco del conflicto armado, a la oferta de Atención Psicosocial en Popayán. 
                    </div>


                                </div>
        </div>
    </div>
</div>
</div>
<!-- Fin ejemplo -->



</div>
</div>


<!-- panel -->
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            Evento
        </div>
        <div class="panel-body">
            <!-- Fin panel-->
            <form class="form-horizontal" id="crud-form">
                <div class="list-group-item">

                    <label for="title" class="control-label">Nombre de actividad</label>
                    <textarea class="form-control" id="title" name="title"></textarea>


                </div>
                <div class="list-group-item">
                    <label class="control-label" for="time">Hora inicio</label>
                    <div class="input-append bootstrap-timepicker">
                        <input id="time" name="time" class="form-control" type="text">
                    </div>
                </div>
                <div class="list-group-item">
                    <label class="control-label" for="description">Resultado</label>
                    <textarea class="form-control" id="description" name="description"></textarea>
                </div>
                <div class="list-group-item">
                    <label class="control-label" for="ejecutada">Estado actividad</label>
                    <select class="form-control" id="realizacion" name="realizacion">
                        <option value="Programada">Programada</option>    
                        <option value="Realizada">Realizada</option>    
                        <option value="Cancelada">Cancelada</option>    
                    </select>
                    
                </div>
                
                
                <input id="color" name="color" value="#D9EDF7" style="visibility:hidden" type="text">
                <input id="textColor" name="textColor" value="#286090" style="visibility:hidden" type="text">
                <input name="cadenaPlan" id="cadenaPlan" style="visibility:hidden" type="text">
                <input name="idregional" id="idregional" value="1" style="visibility:hidden" type="text">
                <input name="idpersona" id="idpersona" value="1" style="visibility:hidden" type="text">
                <input name="idproyecto" id="idproyecto" value="14" style="visibility:hidden" type="text">
            </form>
        </div><!-- cierra el body -->
    </div><!-- cierra el panel -->
</div><!-- cierra columnas -->

<div class="col-lg-3">


    <form enctype="multipart/form-data" id="formuploadajax" method="post">

        <div class="panel panel-default">

            <div class="panel-heading">
                Nuevo Soporte
            </div>
            <div class="panel-body">
                Archivo:
                <input name="archivo" id="archivo" disabled="disabled" type="file">
            </div>
            <div class="panel-body">
                <button type="submit" class="btn btn-primary" id="subir_soporte" name="subir_soporte" disabled="disabled">Subir soporte</button>
            </div>
            <div class="panel-heading" id="panel_visualizar_soportes" style="display: none;">
                <a href="#" id="visualizar_soportes"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp;Ver soportes almacenados</a>
            </div>
            <div class="panel-body" id="contenedor_soportes">
                <div id="divsoportes"></div>
            </div>
        </div>
        
        <input name="idregional_soporte" id="idregional_soporte" value="1" style="visibility:hidden" type="text">
        <input name="idproyecto_soporte" id="idproyecto_soporte" value="14" style="visibility:hidden" type="text">
        <input name="idevento_soporte" id="idevento_soporte" style="visibility:hidden" type="text">
    </form>


</div>
</div> <!-- cierra body de modal-->            
<div class="modal-footer"><button type="button" id="add-event" class="btn btn-primary">Programar</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <input name="radio_registro" id="radio_registro" style="visibility: hidden" type="checkbox">
    <input name="miparametro" id="miparametro" value="&amp;idproyecto=14" type="hidden">
    <input name="mimodulo" id="mimodulo" value="Calendario" type="hidden">
    <input name="moduloantecesor" id="moduloantecesor" value="Proyecto" type="hidden">
</div>
</div>
</div>
</div>
</div>
